{% comment %}
Written by: Kalcifer Kandari
Date: Date: 4 March 2016 02:45:37
{% endcomment %}
<hr />

<p>Thanks for reading!</p>

<p>{% if include.redditUrl %}<em>If you want to comment on this article <a href="https://{{ include.redditUrl }}" title="reddit.com">it was posted on Reddit</a>.</em><br />
{% endif %}<em>If you enjoyed it, please consider <a href="bioticpixels.com/supporting" title="Supporting Biotic Pixels">donating</a>.</em><br />
<em>It is hosted on <a href="https://{{ site.githubUrl | append: "/" | append: site.github }}/tree/gh-pages/articles" title="Articles {{ site.githubUrl }}">GitHub</a>. If there are any problems, open an <a href="https:{{ site.githubUrl | append: "/" | append: site.github | append: "/" | append: site.github | append: "." | append: site.githubUrl | append: "/issues" }} /issues" title="{{ site.url }} Issues {{ site.githubUrl }}">issue</a>.</em></p>
