---
#----------
# Written by: Kalcifer Kandari
# Date: 1 March 2016 22:09:34
#----------
# The articles template.

layout: page
---

<article class="article">

{% if page.longTitle %}{% assign title = page.longTitle %}{% else %}{% assign title = page.title %}{% endif %}<h1 id="{{ title | slugify }}">{{ title }}</h1>

<p><em>Written by: {{ site.data.authors[page.author].name }}</em><br />
<em>Date: {{ page.date | date: "%-d %B %Y %T" }}</em></p>
{% if page.excerpt != "" and page.short != "true" %}
<h2 id="{{ "Abstract" | slugify }}">Abstract</h2>

<p>{{ page.excerpt }}</p>
{% endif %}{{ content }}
</article>

{% include footer.html %}
